.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text{
    background-color: white;
    display: flex;
    
}
.connect{
    height: max-content;
    width: 140px;
    background-color: chocolate;
}
